:root {
  margin-top: 50px;
  margin-left: 100px;
  background-color: rgb(56, 76, 97);
  color: ivory;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#divider {
  padding: 10px;
}

.button {
  margin-top: 5px;
  padding: 5px 15px;
  border-radius: 15px;
  background-color: lightblue;
  color: rgb(58, 58, 58);
  font-weight: 600;
}
.button:hover {
  background-color: rgb(108, 155, 171);
}

.available {
  color: rgb(0, 255, 0);
}

.unavailable {
  color: rgb(255, 0, 0);
}
