:root {
  margin-top: 50px;
  margin-left: 100px;
  background-color: rgb(56, 76, 97);
  color: ivory;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
